# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
local_settings.py
# db.sqlite3 ამოვიღე იგნორიდან, რომ გაყვეს PythonAnywhere-ზე

# Media & Static
/media/
/staticfiles/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
